In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
import pandas_profiling

In [0]:
titanic_csv="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

In [0]:
titanic = pd.read_csv(titanic_csv)

In [0]:
pandas_profiling.ProfileReport(titanic)

TypeError: ignored

In [0]:
df.head(5)

In [0]:
8df.describe().transpose()

             count        mean         std  ...       50%    75%       max
PassengerId  891.0  446.000000  257.353842  ...  446.0000  668.5  891.0000
Survived     891.0    0.383838    0.486592  ...    0.0000    1.0    1.0000
Pclass       891.0    2.308642    0.836071  ...    3.0000    3.0    3.0000
Age          714.0   29.699118   14.526497  ...   28.0000   38.0   80.0000
SibSp        891.0    0.523008    1.102743  ...    0.0000    1.0    8.0000
Parch        891.0    0.381594    0.806057  ...    0.0000    0.0    6.0000
Fare         891.0   32.204208   49.693429  ...   14.4542   31.0  512.3292

[7 rows x 8 columns]